*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* scroll-padding-top:2rem ;/ */
    /* scroll-behavior: smooth; */
    /* overflow:hidden; */
}
:root{
    --green-color:#3cb315;
    --light-green-color:#c0eb7b;
    --orange-color:#ff7e00;
    --light-orange-color:#f75f1d;
    --text-color:#1a2423;
    --bg-color:#fff;
}
a:hover{
/* background: #3cb315; */
}
.search{

}
img{
    width: 100%;
}
body{
    color: var(--text-color);
    overflow-x: hidden;
}
.icon{
    color: white;
    position: fixed;
    top: 50px;
    left: 70px;
    /* display: flex; */
    text-align: center;
    /* left: 20px; */
    /* font-style: var(--bg-color); */
    font-size: 40px;
}
.customers{
    background: #5c8018;
    padding:10px;
    font-size: 15px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
input{
    /* align-items: center; */
}
.c-2{
    background:#1a533b;
    height: 100px;
    width: 100%;
    position: fixed;
    top:40px;
    z-index: 1000;
}
header{
    position: fixed;
    width: 100%;
    top: 130px;
    right: 0;
    height: 50px;
    z-index: 1000;
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 11px rgb(14, 55,54/15%);
    padding: 20px 100px;
    transition: 0.5s;
    box-shadow:#b8b6b6 2px 1px;
}

.home{
    position: relative;
    top: 100px;
}
.profile{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    float: right;
    color: white;
}
.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.profile span{
    font-size: 13px;
    font-weight: 500;
}
.logo{
    display: flex;
    align-items: center;
    float: left;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
    text-decoration: none;
}
ul{
    display: flex;
}
.navbar{
    height: 10px;
    /* padding: 10px; */
    /* background: gree; */
    position: fixed;
    /* top: 3%; */
    left: 400px;
}
.logo .bx{
    font-size: 24px;
    color: var(--orange-color);
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding:1rem 2rem;
    text-decoration: none;
}
.navbar a:hover, .navbar .home-active
{
    /* background: var(--green-color);
    border-radius: 3rem;
    height: ;
    color: var(--bg-color);
transition: var(--bg-color); */
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.section-heading
{
    position: relative;
    top: 100px;
}
.images{
    width:80%;
    height:585px;
}
.cards{
    /* padding: 50px; */
    margin-top: 50px;
    /* display: flex; */
}
.cards-text{
    background: #c2fb97;
}
.imgh{
    width: 200px;
    
    height: 200px;
    margin: 10px;
}
#categories{
    text-align: center;
    margin-top: 30px;
}
.heading{
    font-style: oblique;
    color: var(--orange-color);
    font-size: 30px;
    font-weight: bold;
    /* padding-top: 70px; */
}
.heading-text{
    color:black;
    font-weight:500;
    /* background: g; */
    width: 80%;
    font-style:oblique;
}
.viewall{
    text-decoration: none;
    color: #1a533b;
}
.btn-success:hover{
    /* background: green; */
}
.btnsn{
    width: 200px;
    background: green;
}
.imgcard{
    /* width: 150px; */
    height: 150px;
    text-align: center;
}
/* .card-img-top{
    height: 30%;
} */
.col-2{
    margin-left: 35px;
    gap: 10px;
}
.imgdiv{
    /* border: 1px black solid;
    width: 20%;
    height: 300px; */
    /* display: flex; */
    /* float: left; */
    /* box-shadow: 2px 2px green ; */
    text-align: center;
}
a{
    text-decoration: none;
}
.textofp{
    width: 50%;
    height: 150px;
    background: white;
    opacity: 0.9;
    color: rgb(73, 120, 4);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    /* margin-top: 40px; */
    padding: 40px;
    /* background: transparent; */
    position: absolute;
    top: 60px;
    left: 150px;
  }
.menu2{
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.btn-success{
    background: var(--green-color);
}
.heading-span{
    /* border:1px solid #1a2423; */
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 250px;
    justify-content: center;
    background: #f4e6e6;
    box-shadow: #e6dfdf 1px 1px ;
}
.heading-text2{
    /* font-weight: bold; */
    text-align: start;
    padding-top: 5rem;
    font-size: 30px;
    color: rgba(78, 78, 78, 0.819);
}
.cr{
    color: #3cb315;
}
.cr2{

}
.card{
    width: 80%;
    box-shadow: 2px 2px rgb(99, 104, 99) ;
    margin: 10px;
}
.cards-products{
/* display: flex; */
/* float: left; */
}

/* slider */
.swiper-container {
    position: relative;
    height: 700px;
    width: 100%;
    /* max-width: 1000px; */
    margin: 50px auto;
    overflow: hidden;
  }
  
  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .swiper-slide {
    min-width: 100%;
    transition: transform 0.3s ease;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .swiper-button-prev {
    left: 10px;
  }
  
  .swiper-button-next {
    right: 10px;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .swiper-pagination span {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .swiper-pagination .active {
    background-color: #fff;
  }
  .btn2{
    position: relative;
    top: 20px;
    left: 480px;
    height: 45px;
    border-top-right-radius: 5px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
  }
  .ip{
    width: 400px;
    height: 45px;
    border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
    position: relative;
    top: 20px;
    background: rgb(251, 251, 251);
    left: 500px;
    border: none;
    text-align:justify;
  }
  .swiper-container{
    margin-bottom: 0px;
  }
  .text{
    padding: 40px;
    background: #f4f2e9;
    text-align: center;
    color:grey;
  }
  .ip-2{
    height: 45px;
    position: relative;
    top: 20px;
    border: none;
    text-align:justify;
    left: 490px;
    width: 200px;
    border-radius:1px;
    background: #e7e6e6;
  }
  /*footer*/
  .footer{
    height: 100px;
    width: 100%;
    margin-top: 10px;
    background: #3f3030;
    color: white;
    padding: 10px;
    /* background: #f4f2e9; */
  }
  /*shop*/
  .shop{
    margin-top: 90px;
    /* height: 100px; */
    text-align: center;
    background: #f4f2e9;
  }
  .tp{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 250px;
    justify-content: center;
    background: #f4e6e6;
    box-shadow: #e6dfdf 1px 1px ;
  }
  
