*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #202020;
}
.container{
    background: rgba(255, 255, 255, 0.925);
    background-image: url('bmi.avif');
    width: 25%;
    border-radius: 50px;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 60px;
    left: 280px;
}
h1{
    color: rgb(224, 228, 223);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 40px;
    /* text-shadow: 2px 2px 4px #cab3b3; */
}
.name{
    color: #dcdddf;
    text-align: center;
    font-size:20px;
    margin-top: 30px;

}
.btn{
    color: rgb(236, 233, 233);
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background: rgba(4, 194, 4, 0.973);
    box-shadow: 0 4px 8px 0 #646060, 0 6px 20px 0 #646060;
    padding: 10px;
    font-size:20px ;
}
.input{
    width:210px;
    border: 1px solid rgb(199, 189, 189);
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    /* border-bottom: none; */
    /* box-shadow: 0 4px 8px 0 #646060, 0 6px 20px 0 #646060; */
     
}